body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
    padding-right: 20px;
}

.generic-container {
  width:95%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.lead-date {
    font-size: 18px;
}

.pointer {
    cursor:pointer;
}

.hcenter, tr.hcenter th, tr.hcenter td {
    text-align: center; }

.vcenter, tr.vcenter th, tr.vcenter td {
    vertical-align: middle !important; }

.li-nav {
    font-size: 14px !important;
}
.li-nav .active {
    font-weight: bolder;
    font-size: 16px !important;
}
/* standard column widths */
.edit-button-col {
    width: 50px;
}
.edit-address-col {
    width: 450px;
}

/* Order Edit Styles */

.address-header {
    font-weight: bolder;
    font-size: 18px !important;
}
.cust-detail-header {
    font-size: 14px;
    color: #317eac;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order-detail-header {
    font-size: 18px;
    color: #317eac;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-detail-label {
    color: steelblue;
    font-size: 12px;
    margin-right: 5px;
    width: 175px;
}
.order-detail-value {
    color: steelblue;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.order-details-emtpy-col {
    width: 10px;
    background-color: lightgrey;
}
.item-detail-label {
    color: steelblue;
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
}
.item-detail-label-qty {
    color: steelblue;
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
    background: aliceblue;
    text-align: center;
}
.item-detail-value {
    color: steelblue;
    font-size: 12px;
    margin-right: 5px;
}
.item-detail-value-qty {
    color: steelblue;
    font-size: 12px;
    margin-right: 5px;
    background: aliceblue;
    text-align: center;
}
.button-col {
    width: 250px;
}

/* Styles for Main Reports Page */
.reports-list {
    font-weight: bolder;
}

/* Styles for Cancellations Report Page */
.cancel-table {
    width: 600px;
    border-top: 3px solid steelblue !important;
    border-bottom: 3px solid steelblue !important;
    color: steelblue;
    background: aliceblue;
    position: relative;
}
.cancel-table .header-row {
    font-size: 14px;
}
.cancel-table .title-td {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}
.cancel-table .data-td {
    text-align: right;
    padding-right: 20px;
}
.cancel-table .net-tr {
    background-color: #79f8ff;
    color: black;
    font-weight: bold;
}

/* Styles for Net Sales Report Page */
.netsales-table {
    width: 500px;
    border-top: 3px solid steelblue !important;
    border-bottom: 3px solid steelblue !important;
    color: steelblue;
    background: aliceblue;
    position: relative;
}
.netsales-table .header-row {
    font-size: 14px;
}
.netsales-table .title-td {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}
.netsales-table .data-td {
    text-align: right;
    padding-right: 20px;
}
.netsales-table .net-tr {
    background-color: #79f8ff;
    color: black;
    font-weight: bold;
}
.loyalty-detail-title {
    width: 200px;
}
.loyalty-detail-value {
    font-size: 14px;
    color: #317eac;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/**
.loyalty-tab-heading {
    font-weight: bold;
}
li.active a.ng-binding {
    color: #000 !important;
    background-color: #7dbcac; !important;
    text-decoration: none;
}
li a.ng-binding {
    color: #777777;
    background-color: #e7fff5;
    text-decoration: none;
}
.loyalty-tab-container {
    border: 1px solid #dcdcdc;
    border-top-width: 0px;
    background-color: #7dbcac;
    padding: 15px;
}
**/

.pink-bg {
    background-color: #F2DDDE;
}
